body
    background-color: #f5f6fa
    font-size: 14px
    font-family: 'Roboto', sans-serif;

h2,h3,h4,h5,ul,body,html
    padding: 0px
    margin: 0px

.mtop16
    margin-top: 16px

.width100
    width: 100%

.wrapper
    //min-height: 100vh
    height: 100vh
    overflow: hidden
    .col1
        float left
        position: relative
        z-index 999
        width 17%
    .col2
        float: left
        width: 83%
//Desde aqui empieza la segunda parte de la columna 1
.sidebar
    background-color: #fff
    // min-height: 103vh
    height: 99vh
    .section-top
        background-color: #E5E4E4
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)
    .logo
        display: block
        margin: 0px auto
        padding-top: 24px
        width: 90%
    .user
        color: #000 !important
        padding: 16px
        a
            color: #000
            font-size: 1.2em
//Aqui en main empieza el css de la lista de los modulos
    .main
        display: block
        margin-top: 8px
        ul
            li
                margin-bottom: 4px
                a
                    color: #000
                    display: block
                    font-size: 1.1em
                    padding: 12px 16px
                    text-decoration: none
                    i
                        margin-right: 10px
                    &:hover
                        background-color: #6314A8
                        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)
                        color: #fff
                        text-decoration: none 
                a.active
                    background-color: #6314A8
                    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)
                    color: #fff
                    text-decoration: none 

.navbar-expand
    background-color: #6314A8
    .nav-item
        padding-left: 10px
        a
            color: #fff
            &:hover
                color: #fff
        
.page
    padding-top: 10px
    padding-bottom: 16px

.breadcrumb
    background-color: #fff
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.10)
    .breadcrumb-item
        padding: 5px 5px
        a
            color: #000
            text-decoration: none !important
            // &:hover
            //     text-decoration: none !important
.panel
    background-color: #fff
    border-radius: 6px
    border-bottom: 2px solid #6314A8
    width: 100%
    .header
        border-bottom: 1px solid #DBDBDB
        h2.title
            display: inline-block
            color: #19213d
            font-size: 1.1em
            padding: 12px 16px
            i
                padding-right: 3px
    .inside
        padding: 16px
        .nav
            .nav-link
                border: 1px solid #DBDBDB
                margin-right: 8px
                &:hover
                    background-color: #6314A8
                    color: #fff

.opts
    a
        border-radius: 4px
        border: 1px solid #f0f0f0
        display: inline-block
        padding: 0px 10px

.product_gallery
    overflow: hidden
    .btn-submit
        display block
        margin-right: 1%
        width: 100%
        a
            border: 1px dashed #6666
            border-radius: 4px
            color: #333
            display: block
            font-size: 1.5em
            text-align: center
            padding 12px
            width: 100%
            &:hover
                background-color: #6314A8
                color: #fff

    .tumbs
        overflow hidden
        .tumb
            float left
            margin-top: 16px
            position relative
            width: 48%
            a
                background-color: rgba(0,0,0, .5)
                border-radius: 50%
                display inline-block
                color #fff
                padding: 6px 10px
                position absolute
                bottom: 8px
                right: 8px
                
            img
                border-radius: 4px
                width: 100%
            &:nth-child(odd)
                margin-right: 4%

.page_user
    .mini_profile
        .avatar
            display block
            margin 0px auto
            border-radius: 50%
            width: 150px
        .info
            background-color: #fff
            span
                display block
                font-size: 1.1em
                width: 100%
            span.title
                font-weight: bold
                margin-top: 16px
        .btn
            margin-top: 16px
            width: 100%

.page_user_show
    .inside
        margin-top: 0px
        label
            margin-top: 15px
        label.label_ini
            margin-top: 0px
        .mini_profile
            margin-top: 20px
            .avatar
                display: block
                margin: 0px auto
                border-radius: 50%
                height: 300px
                width: 280px