body
    background-color: #f5f6fa
    font-size: 14px
    font-family: 'Roboto', sans-serif;

h2,h3,h4,h5,ul,body,html
    padding 0px
    margin 0px
a
	text-decoration: none;

// tbody
//     a
//         color: #8998ac
//         &:hover
//             background-color:    #ffebdd
//             box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)
//             text-decoration: none
//             color: #b24bb6 !important

// .table-striped>tbody>tr:nth-child(odd)>td,
// .table-striped>tbody>tr:nth-child(odd)>th {
//   background-color: #ffebdd;
//   color: black;
// }
// .table-striped>tbody>tr:nth-child(even)>td,
// .table-striped>tbody>tr:nth-child(even)>th {
//   background-color: #fff;
//   color: black;
// }

// .table-hover
//     tbody
//         tr:hover
//             td
//                 background: #ffebdd

.mtp-15
    margin-top: 15px
.mtp-10
    margin-top: 10px
.mtp-38
    margin-top: 38px
.mtp-40
    margin-top: 40px

.center
    text-align:center

.wrapper
    min-height: 100vh
    overflow: hidden
    .col1
        float: left
        position: relative
        z-index: 999
        width: 17%
    .col2
        float: left
        width: 83%
        .name
            padding-right: 20px
            label
                color: #fff
            a
                color: #fff
                padding: 0px 10px

.btn-color
    color: #ffff
    &:hover
        text-decoration: none
        color: #ffff

.sidebar
    // background-color:  #f5f6fa
    background-color:  #ffff
    min-height: 100vh
    .section-top
        // background-color:   #ffebdd
        background-color:  #f6d315
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)
    .logo
        display: block
        margin: 0px auto
        padding-top: 17px
        padding-bottom: 17px
        width: 55%
    .user
        color: #000 !important
        padding: 5px 16px
        a
            color: #000
            font-size: 1.2rem
    .main
        display: block
        margin-top: 8px
        ul
            li
                margin-bottom: 4px
                a
                    color: #8998ac
                    display: block
                    font-size: 1.1em
                    padding: 12px 17px
                    i
                        margin-right: 10px
                    &:hover
                        background-color:    #f6d315
                        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)
                        text-decoration: none
                        color: #000
                ul
                    li
                        a
                            font-size: 0.98em
.pl-1
    padding-left: 1rem

.navbar
    // background-color: #ffebdd
    background-color: #000 !important
    padding: 15px 0px
    a
        font-size: 1.2em
        color: #fff
        i
            margin-right: 10px

.page
    padding-top: 16px
    padding-bottom: 16px
    ol.breadcrumb-pd
        padding: 10px 15px
    .breadcrumb
        background-color: #fff
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.10)
        .breadcrumb-item
            a
                color: #000
                &:hover
                    text-decoration: none
    .panel
        background-color: #fff
        border-radius: 6px
        border-bottom: 3px solid #000
        width: 100%
        .btn
            // background-color: #E85722
            border: 0px
            width: 100%
            &:focus
            &:active
                outline none
                box-shadow none
        .form-control
            &:focus
            &:active
                outline none
                box-shadow none
        .form-select
            &:focus
            &:active
                outline none
                box-shadow none
        .header
            border-bottom: 1px solid #e8e8e8
        h2.title
            display: inline-block
            color: #19213d
            font-size: 1.3em
            padding 12px 16px
        ul
            display: inline-block
            float: right
            margin-right: 12px
            li
                display: inline-block
                position: relative
                a
                    color: #333
                    display: inline-block
                    padding: 10px
                    &:hover
                        color: #222
                        background-color: #f6f6f6
                    // i
                    //     color: #f6d315
                ul
                    background-color: #fff
                    border: 1px solid #f0f0f0
                    display: none
                    float: none
                    position: absolute
                    // right: -16px
                    width: 140px
                    li
                        display: inline-block
                        border-bottom: 1px solid #f0f0f0
                        width: 100%
                        &:last-child
                            border-bottom: 0px
                        a
                           display: block

                &:hover
                    ul
                        display: block

        .inside
            padding: 16px
            margin-bottom: 15px
            .input-group
                margin-top: 5px
            .bleft
                border-right: 2px solid #f0f0f0
            .form-search
                display: none
                margin-bottom: 20px
            .form-filter
                display: none
                margin-bottom: 20px
            .big_count
                display: block
                width: 100%
                text-align: center
                font-size: 2em

a.opts
    border-radius: 4px
    border 1px solid #dedede
    display: inline-block
    padding: 8px 12px
    &:hover
        color: #222
        background-color: #f6f6f6
        // background-color: #f6d315

.page_user
    .mini_profile
        .avatar
            display: block
            margin: 0px auto
            border-radius: 50%
            height: 150px
            width: 170px
    .info
        background-color: #fff
        span
            display: block
            font-size: 1.1em
            width: 100%
        span.title
            font-weight: bold
            margin-top: 16px

.page_user_show
    .inside
        margin-top: 0px
        label
            margin-top: 15px
        label.label_ini
            margin-top: 0px
        .mini_profile
            margin-top: 20px
            .avatar
                display: block
                margin: 0px auto
                border-radius: 50%
                height: 300px
                width: 280px



