body
    background-color:#F6F6F6
    font-size: 14px
    margin: 0px

.mtop-5
    padding-top: 5px

.center
    text-align:center

.box
    background-color: #fff
    border-radius: 8px
    border: 1px solid #d6d6d6
    position absolute
    width: 500px
    .btn
        // background-color: #E85722
        border: 0px
        width: 100%
        &:focus
        &:active
            outline none
            box-shadow none
    .form-control
        &:focus
        &:active
            outline none
            box-shadow none
    .inside
        padding: 16px
        label
            padding-top: 10px
        div
            padding-top: 5px
    .header
        // background-color:#E6E6E6
        background-color: #f6d315
        border-radius: 8px 8px 0px 0px
        padding: 16px
        a
            img
                display: block
                margin: 0px auto
                width: 36%
    .footer
        text-align: center
        a
            display: inline-block
            font-size: 0.8em
            &:last-child
                margin-left: 2px

.box_login
    left calc(50% - 250px)
    top calc(33% - 183px)

.box_register
    left calc(50% - 250px)
    top calc(50% - 323px)

