body {
  background-color: #f6f6f6;
  font-size: 14px;
  margin: 0px;
}
.mtop-5 {
  padding-top: 5px;
}
.center {
  text-align: center;
}
.box {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
  position: absolute;
  width: 500px;
}
.box .btn {
  border: 0px;
  width: 100%;
}
.box .btn:focus,
.box .btn:active {
  outline: none;
  box-shadow: none;
}
.box .form-control:focus,
.box .form-control:active {
  outline: none;
  box-shadow: none;
}
.box .inside {
  padding: 16px;
}
.box .inside label {
  padding-top: 10px;
}
.box .inside div {
  padding-top: 5px;
}
.box .header {
  background-color: #f6d315;
  border-radius: 8px 8px 0px 0px;
  padding: 16px;
}
.box .header a img {
  display: block;
  margin: 0px auto;
  width: 36%;
}
.box .footer {
  text-align: center;
}
.box .footer a {
  display: inline-block;
  font-size: 0.8em;
}
.box .footer a:last-child {
  margin-left: 2px;
}
.box_login {
  left: calc(50% - 250px);
  top: calc(33% - 183px);
}
.box_register {
  left: calc(50% - 250px);
  top: calc(50% - 323px);
}
