body
    background-color: #f6d315
    font-size: 14px
.container
    margin-top: 60px
    margin-bottom: 60px
    .header
        display: block
        text-align: center
        span.head
            display: block
            font-family: 'Open Sans', sans-serif;
            font-family: 'STIX Two Math', serif;
            font-size: 60px
        span.title
            display: block
            text-align: center
            font-family: 'Rubik', sans-serif;
            font-size: 20px
    .search
        margin-top: 20px
        .btn
            &:hover
                background-color:  #d0cfcf
        .form-control
            &:focus
            &:active
                outline none
                box-shadow none
        input[type="number"]
            -webkit-appearance: textfield !important
            margin: 0
            -moz-appearance:textfield !important
        .submit
            margin-top: 20px
            margin-bottom: 20px
    .avatar
        display: block
        margin: 0px auto
        height: 450px
        width: 75%
        border-radius: 50%
    .info
        display: block
        text-align: center
        font-family: 'Open Sans', sans-serif;
        font-family: 'STIX Two Math', serif;
        span.name
            font-size: 3em
        span.text-day
            font-size: 6em
    .out
        a
            color: #000
            font-size: 1.5em
            &:hover
                color:  #fd2012


